- var err = err || ''
- var suc = suc || ''
input#err(type="hidden",value="#{err}")
input#suc(type="hidden",value="#{suc}")
.foot
  .footBox
    span iArduino.CN 版权所有 ©2013
    span email: schidler#iArduino.cn; qq: t.online#qq.com
    span 
      a(href="http://wo.iArduino.cn/#") 本站介绍
    span 
      a(href="http://wo.iArduino.cn/#") 错误和建议
