#ieBox.ieBox
  .ieWrap
    | 欢迎您来到
    a(href="http://wo.iArduino.cn") iArduino窝! <br/>
    | iArduino窝是一款由node.js和mongodb搭建的轻博客网站，名字取自iArduino，寓意：记录“我”在Arduino上折腾的心路历程，全站接口定义全部是restful风格，用基于node.js的
    a( href="http://wo.rrestjs.com", target="_blank") rrestjs
    |  开发框架搭建，前端运用
    a( href="http://www.lesscss.net", target="_blank") less
    |  样式表，整体风格样式参考了网易的
    a( href="http://www.lofter.com", target="_blank") LOFTER。<br/>
    | iArduino窝主要有以下功能：<br/>
    | 1、发表轻博客，一段文字，一张图片，一段视频等<br/>
    | 2、评论功能<br/>
    | 3、添加好友功能<br/>
    | 4、喜欢轻博客功能<br/>
    | 5、私信功能<br/>
    | 6、免注册，直接登录功能<br/>
    | 7、会员修改网站封面功能<br/><br/>
    | 祝您使用iArduino窝愉快。
    | 联系方式：<br/>
    | email: schidler#iArduino.cn<br/>
    | QQ: t.online#qq.com<br/><br/>
    span.ftred 郑重声明：本站不支持IE6!


